export PRIVATE_KEY_ALICE="0x3cf7bdaece87a1f56473ef4c6ba039da2beb78c43ea5051f7ad97982f21b5521"
export PRIVATE_KEY_BOB="0xa5ee0b7fac5c148658c77af611e0f7cbed47ae8278a24097b1aca104bdc3aa97"
export SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/xxxxxxxxxxxxxxxxxxxxxxxxxxx"
export ETHERSCAN_API_KEY="XXXXXXXXXXXXXXXXXXXXX"