# Deployer
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 # Anvil first account

# RPC
RPC_URL=http://localhost:8545

# Etherscan (optional, for contract verification)
# ETHERSCAN_API_KEY=
